<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="images/favicon.ico" type="image/ico" />
    <title>Ingresos | RegistrarPerson </title>
</head>

<body>
    <h1 class="card-title">Registrar Persona</h1>
    <div class="card card-primary">
        <div class="card-header">
            <div class="row">
                <div class="form-group col-md-4">
                    <label>Nombre</label>
                    <input type="text" id="txtNombre" class="form-control" maxlength="50" minlength="7" required />
                </div>
                <div class="form-group col-md-4">
                    <label>Número De Documento</label>
                    <input type="text" id="txtnumeroDocu" class="form-control" maxlength="20" minlength="10" required />
                </div>
            </div>

            <div class="footer">
                <input type="button" value="Nuevo" class="btn btn-primary" id="btnNuevo" data-toggle="modal" data-target="#modal_Personas">
                <input type="button" value="Buscar" class="btn btn-primary" id="btnBuscar">
            </div>
        </div>
    </div>

    <div class="card-body" id="SolicitudBusqueda">
        <div class="panel-heading card-header2">
            <h4 class="panel-title">
                <a class="colorTitulo" data-toggle="collapse" data-parent="#accordion" href="#Solicitud">Tabla Personas</a>
            </h4>
        </div>

        <table id="tblPersonas" class="display" style="width:100%"
               @*data-consulta-personas="@Url.Action("ConsultaPersonas", "Personas")"
               data-eliminar-personas="@Url.Action("EliminarPersonas", "Personas")"*@>
            <thead>
                <tr>
                    <th></th>
                    @*<th>Id</th>
                        <th>Nombres</th>
                        <th>IdTipoDocumentos</th>
                        <th>Tipo de documento</th>
                        <th>Número de documento</th>
                        <th>Telefono</th>
                        <th>Editar</th>
                        <th>Eliminar</th>*@
                </tr>
            </thead>

            <tfoot>

            </tfoot>
        </table>
    </div>

    <div class="card-body">                                                     @*esto de data es para que no se cierre el modal con clic ni esc*@
        <div class="modal fade" id="modal_Personas" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header kt-lg-10" style="background-color: #0067b2; margin-left: 0px !important;height: 50px; padding-top: 12px;">
                        <h5 class="modal-title" id="CreaEmprendimientoLabel" style="color: #ffffff">Nueva Persona</h5>
                        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"></span>
                        </button>
                    </div>
                    <div id="modalPersonas" class="modal-body m-3">
                        <div class="card col-md-12">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label>Primer Nombre</label>
                                    <input type="text" id="txtPrimerNombre" class="form-control" maxlength="50" minlength="7" required />
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Segundo Nombre</label>
                                    <input type="text" id="txtSegundoNombre" class="form-control" maxlength="50" minlength="7" required />
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label>Primer Apellido</label>
                                    <input type="text" id="txtPrimerApellido" class="form-control" maxlength="50" minlength="7" required />
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Segundo Apellido</label>
                                    <input type="text" id="txtSegundoApellido" class="form-control" maxlength="50" minlength="7" required />
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label>Tipo De Documento </label>
                                    <select id="ddlDocumento" class="form-control">
                                        <option>---Seleccione---</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Número De Documento</label>
                                    <input type="text" id="txtNumeroDocumento" class="form-control" maxlength="20" minlength="10" required />
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label>Fecha de Nacimiento</label>
                                    <input type="date" id="txtFNacimiento" class="form-control" required />
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Ciudad de Nacimiento</label>
                                    <input type="text" id="txtCiudadNac" class="form-control" maxlength="30" minlength="7" required />
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label>Edad</label>
                                    <input type="text" id="txtEdad" class="form-control" maxlength="2" minlength="1" required />
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Genero</label>
                                    <select id="ddlGenero" class="form-control">
                                        <option>---Seleccione---</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label>Celular</label>
                                    <input type="tel" id="txtCelular" class="form-control" required placeholder="XXX XXX XXXX" />
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Email</label>
                                    <input type="email" id="txtEmail" class="form-control" required placeholder="email@dominio.com" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label>Dirección Residencia</label>
                                    <input type="text" id="txtDireccionResi" class="form-control" required />
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="form-group" style="float: right">
                                    <input type="button" value="Guardar" class="btn btn-primary" id="btnEditarGuardar">
                                    <button type="button" id="btnCancelarPersonas" class="btn btn-danger closeModal btn-elevate btn-icon-sm  btn-acciones-emprendimiento" data-dismiss="modal"><i class="la la-save"></i>Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery-ui.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    $(document).ready(function () { // cargo la pantalla por primera vez ejecuta todo lo que tengo configurado
        CargarParametricaTipoDoc(); //se carga las unidades parametricas una unica vez, se puede cambiar el nombre y colocar el que quiera
        CargarGenero();
        CargarTipoReporte();
    });

    function CargarParametricaTipoDoc() { //funcion - trabajaremos con  AJAX comunicacion con el js y controladores mediante post o get

        var NombreTabla = "TipoDocumento"; //variable y la tabla de la bd  la que se necesita
        var URL = "/RegistrarPersona/ConsultarParametricas"; //nos dice cual es nuestro controlador y cual es la funcion a ejecutar en esta peticion
        //consultarparametricas eso es en el controlador que toca crearlo
        $.ajax(
            {
                type: 'post', //determinar de que tipo es la peticion post o get y se referencia en el controlador que estamos trabajando.(/Index/ConsultarParametricas")
                data: //datos que se envian viajan tipo json linea 178
                {
                    Tabla: NombreTabla // tabla es el parametro que viaja por medio de ella y se tiene que llamar igual en la funcion del controlador
                },
                dataType: 'json', //viaja en una anotacion tipo json
                url: URL, //es lo que se configura arriba el controlador y funcion envia y recibe un json nos vamos para el controlador a realizar la cominicacon del controlador y modelo
                success: function (data) { //cuando se ejecute es lo que va a retornar data y se mapea abajo
                    //
                    $.each(data, function (index, optionData) { //se hace un recorrido y se mapea toda la funcion

                        $("#ddlDocumento").append("<option value='" + optionData.Value + "'>" + optionData.Text + "</option>"); //value es el id y text la descripcion
                    }); //ddl es igual del id del campo
                },
                error: function (error) { //para errores, si sale algun error sale en  la consola y el mensaje
                    //
                    console.log("ERROR AL CARGAR PARAMETRICA TipoDocumento: " + error);
                    //
                    alert(error.responseText); //salga una ventana emergente en el brouser que se este manejando
                }
            });
    }

    function CargarGenero() {
        var NombreTabla = "Genero";
        var URL = "/RegistrarPersona/ConsultarParametricas";
        $.ajax(
            {
                type: 'post',
                data:
                {
                    Tabla: NombreTabla
                },
                dataType: 'json',
                url: URL,
                success: function (data) {
                    $.each(data, function (index, optionData) {
                        $("#ddlGenero").append("<option value='" + optionData.Value + "'>" + optionData.Text + "</option>");
                    });
                },
                error: function (error) {
                    console.log("ERROR AL CARGAR PARAMETRICA Genero: " + error);
                    alert(error.responseText);
                }
            }
        );
    }
</script>

