<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
    <h1>Reporte</h1>

    <div class="card card-primary">
        <div class="card-header">
            <div class="row">
                <div class="form-group col-md-4">
                    <label>Nombre</label>
                    <select id="ddlNombreReporte" class="form-control">
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label>Tipo de Reporte</label>
                    <select id="ddlDocumentoReporte" class="form-control">
                        <option>---Seleccione---</option>
                    </select>
                </div>
            </div>
            <div class="footer">
                <input type="button" value="Generar" class="btn btn-primary" id="btnGenerar" data-toggle="modal">
                <input type="button" value="Exportar Pdf" class="btn btn-primary" id="btnExportarPdf">
            </div>
        </div>
    </div>

    <div class="card-body" id="SolicitudBusqueda">
        <div class="panel-heading card-header2">
            <h4 class="panel-title">
                <a class="colorTitulo" data-toggle="collapse" data-parent="#accordion" href="#Solicitud">Tabla Reporte</a>
            </h4>
        </div>

        <table id="tblReporte" class="display" style="width:100%"
               @*data-consulta-personas="@Url.Action("ConsultaPersonas", "Personas")"
               data-eliminar-personas="@Url.Action("EliminarPersonas", "Personas")"*@>
            <thead>
                <tr>
                    <th></th>
                    @*<th>Id</th>
                        <th>Nombres</th>
                        <th>IdTipoDocumentos</th>
                        <th>Tipo de documento</th>
                        <th>Número de documento</th>
                        <th>Telefono</th>
                        <th>Editar</th>
                        <th>Eliminar</th>*@
                </tr>
            </thead>

            <tfoot>

            </tfoot>
        </table>
    </div>

    @*<div class="card-body">
            <div class="modal fade" id="modal_Reporte" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header kt-lg-10" style="background-color: #0067b2; margin-left: 0px !important;height: 50px; padding-top: 12px;">
                            <h5 class="modal-title" id="CreaEmprendimientoLabel" style="color: #ffffff">Nuevo Gasto</h5>
                            <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"></span>
                            </button>
                        </div>
                        <div id="modalGastos" class="modal-body m-3">
                            <div class="card col-md-12">
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>Nombre</label>
                                        <select id="ddlNombreGasto" class="form-control">
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Descripción</label>
                                        <input type="text" id="txtDescripGasto" class="form-control" maxlength="30" minlength="7" required />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>Valor</label>
                                        <input type="number" id="txtValorGasto" class="form-control" maxlength="7" minlength="3" required />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Fecha Compra</label>
                                        <input type="date" id="txtFechaGasto" class="form-control" required />
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="form-group" style="float: right">
                                        <input type="button" value="Guardar" class="btn btn-primary" id="btnEditarGuardar">
                                        <button type="button" id="btnCancelarPersonas" class="btn btn-danger closeModal btn-elevate btn-icon-sm  btn-acciones-emprendimiento" data-dismiss="modal"><i class="la la-save"></i>Cancelar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
</body>
</html>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery-ui.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    $(document).ready(function () { // cargo la pantalla por primera vez ejecuta todo lo que tengo configurado
        CargarTipoReporte();
    });

    function CargarTipoReporte() {
        var NombreTabla = "TipoReporte";
        var URL = "/ReporteGastos/ConsultarParametricas";
        $.ajax(
            {
                type: 'post',
                data:
                {
                    Tabla: NombreTabla
                },
                dataType: 'json',
                url: URL,
                success: function (data) {
                    $.each(data, function (index, optionData) {
                        $("#ddlDocumentoReporte").append("<option value='" + optionData.Value + "'>" + optionData.Text + "</option>");
                    });
                },
                error: function (error) {
                    console.log("ERROR AL CARGAR PARAMETRICA TipoReporte: " + error);
                    alert(error.responseText);
                }
            }
        );
    }

</script>