
@{
    ViewBag.Title = "Gastos";
}
<h1>ACA VA LA VENTANA DE GASTOS, ESTA VENTANA DEBE DE TENER DOS CAMPOS DE FILTRO DE BUSQUEDA, UNA LISTA DESPLEGABLE, RANGO DE FECHAS (DESDE Y HASTA), BOTON DE CONSULTAR, BOTON DE LIMPIAR, BOTON DE NUEVO; EL BOTON DE NUEVO ABRE UN POPUP, UNA TABLA CON LA INFORMACIÓN DE LOS GASTOS</h1>
<h2>Gastos</h2>

