
@{
    ViewBag.Title = "Cotrol de Gasto";
}



<img src="~/Content/Imagenes/bolsa$1.png" alt="Imagen de Signo peso">


<!--<html lang="es">-->
<!--definir el lenguage, traduce el idioma-->
<!--<head>
    <meta charset="UTF-8">-->
<!--permite caracteres en el navegador, definir el diccionario-->
<!--<meta name="viewport" content="width=device-width">--><!--adaptar para dispositivos moviles-->
<!--<title>Control de Gastos</title>--><!--nombre de la ventana-->
<!--<link rel="stylesheet" href="reset.css">
<link rel="stylesheet" href="style.css">-->
<!--stylesheet es hoja de estilo-->
<!--<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
</head>-->
<!--<body>
    <header>
        <div class="caja">
            <h1><img src="img/bolsa$1.png"></h1>
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="productos.html">Productos</a></li>
                    <li><a href="contacto.html">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <img class="banner" src="banner/banner.jpg">

    <main>
        <section class="principal">

            <h2 class="titulo-principal"><strong><em>¿Qué son los Ingresos?</em></strong></h2>



            <p>Es el dinero que recibes de distintas maneras. Los salarios, las rentas de arriendos, las ganancias obtenidas en un negocio y las herencias, son claros ejemplos de ingresos.</p>



        </section>

        <section class="diferenciales">

            <h2 class="titulo-principal"><strong><em>¿Qué son los Egresos?</em></strong></h2>

            <div class="contenido-egresos">-->
<!--diferenciales-->
<!--<p>A diferencia de los ingresos, los <strong>egresos</strong> son todo aquello que <strong>gastas</strong> en un periodo de tiempo definido. Por ejemplo:</p>
                <ul class="lista-egresos">
                    <li class="items"><strong>Préstamos</strong></li>
                    <li class="items"><strong>Servicios de entretenimiento y/o comunicación</strong></li>
                    <li class="items"><strong>Transporte:</strong></li>
                    <li class="items"><strong>Servicios Basicos del Hogar</strong></li>
                    <li class="items"><strong>Alimentación y Cuidado personal</strong></li>
                    <li class="items"><strong>Servicios de Salud</strong></li>
                    <li class="items"><strong>Educación</strong></li>
                </ul><img src="diferenciales/diferenciales.jpg" class="imagen-diferenciales">
            </div>
        </section>

    </main>



    <footer id="footer">
        <a href="https://app.aluracursos.com/user/velascodeisy31" target="_blank"><img src="imagenes/one.png" alt="alura One" width="36" height="36"></a>
        <a href="https://www.linkedin.com/in/deisy-velasco-439a98258/" target="_blank"><img src="imagenes/linkedin.png" alt="Contacto Deisy"></a>
        <a href="https://github.com/DeisyV" target="_blank"><img src="imagenes/github.png" alt="Perfil Github Deisy"></a>
        <p>Realizado por: Deisy Yurley Velasco Ramírez</p>
        <p>Estudiante de ONE de Oracle + Alura LATAM.</p>
        <p>Grupo 4 One - 2023</p>
    </footer>


</body>



</html>-->
